@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<h3>Definitions</h3>
<p class="text-muted">These are the different Service Tag definitions we're currently using:</p>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Cloud</th>
            <th>Change Number</th>
            <th>Download</th>
            <th>Last Retrieved</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var serviceTagListFile in Model.ServiceTagListFiles)
    {
        <tr>
            <td><code>@serviceTagListFile.ServiceTagList.Cloud</code></td>
            <td>@serviceTagListFile.ServiceTagList.ChangeNumber</td>
            <td><a href="@serviceTagListFile.Metadata.DownloadUrl" target="_blank">@serviceTagListFile.Metadata.FileName</a></td>
            <td title="@serviceTagListFile.Metadata.LastDownloadSucceededTime.Value.ToString("r")">@serviceTagListFile.Metadata.LastDownloadSucceededTime.Value.ToString("dd MMM yyyy")</td>
        </tr>
    }
    </tbody>
</table>