@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<h3>Definitions</h3>

<p class="text-muted">These are the different Azure Service Tag definitions we're currently using:</p>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Cloud</th>
            <th>Change Number</th>
            <th>Version</th>
            <th>Download</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var serviceTagListFile in Model.ServiceTagListFiles)
    {
        <tr>
            <td><code>@serviceTagListFile.ServiceTagList.Cloud</code></td>
            <td><code>@serviceTagListFile.ServiceTagList.ChangeNumber</code></td>
            <td><code>@serviceTagListFile.Metadata.Version</code></td>
            <td><a href="@serviceTagListFile.Metadata.DownloadUrl" target="_blank">@serviceTagListFile.Metadata.FileName</a></td>
        </tr>
    }
    </tbody>
</table>

<h3>IP Address Lookup</h3>

<form method="POST" class="mb-3">
    <p class="text-muted">Look up an IP address (IPv4 or IPv6) to see if it's contained in any Azure Service Tag.</p>
    <div class="form-group">
        <label for="ipAddress">IP Address</label>
        <input type="text" name="ipAddress" id="ipAddress" value="@Model.IPAddress" class="form-control val-required" placeholder="The IP address to look up" />
    </div>
    <div class="form-group mt-3">
        <input type="submit" value="Submit" class="btn btn-primary" />
    </div>
</form>

@if (!string.IsNullOrWhiteSpace(Model.WarningMessage))
{
    <div class="alert alert-warning">@Model.WarningMessage</div>
}

@if (Model.MatchedServiceTags != null)
{
    if (!Model.MatchedServiceTags.Any())
    {
        <div class="alert alert-warning">IP address <code>@Model.IPAddress</code> is not in range of any Azure Service Tag.</div>
    }
    else
    {
        <div>IP address <code>@Model.IPAddress</code> is in range of the following Azure Service Tags:</div>
        <div class="table-responsive mt-3">
            <table class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th>Cloud</th>
                        <th>Service Tag</th>
                        <th>Region</th>
                        <th>Matching Address Prefix</th>
                    </tr>
                </thead>
                <tbody>
                @foreach (var matchedServiceTag in Model.MatchedServiceTags.OrderBy(m => m.ServiceTag.Name).ToArray())
                {
                    <tr>
                        <td><code>@matchedServiceTag.CloudId</code></td>
                        <td><code>@matchedServiceTag.ServiceTag.Name</code></td>
                        <td><code>@matchedServiceTag.ServiceTag.Properties.Region</code></td>
                        <td><code>@matchedServiceTag.AddressPrefix</code></td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    }
}